* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(23, 23, 23) !important;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: 2px solid #000; /* Define a cor e a largura da linha */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
}

header a {
  text-decoration: none;
}

header a img {
  background-color: rgb(23, 23, 23);
  width: 150px;
  height: 100px;
}

nav {
  padding-top: 2%;
  padding-bottom: 3%;
  border-bottom: 2px solid #000; /* Define a cor e a largura da linha */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  color: #2c771c;
}

main {
  color: white;
  text-align: center;
  padding-top: 5%;

  background-image: url('../imgs/bemvindo.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o elemento main */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa no lugar enquanto a página rola */
  height: 100vh;
}